# install latest changes in dbt-core
# TODO: how to automate switching from develop to version branches?
git+https://github.com/dbt-labs/dbt-core.git#egg=dbt-core&subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git#egg=dbt-tests-adapter&subdirectory=tests/adapter

# if version 1.x or greater -> pin to major version
# if version 0.x -> pin to minor
black~=23.9
bumpversion~=0.6.0
click~=8.1
flake8~=6.1;python_version>="3.8"
flaky~=3.7
freezegun~=1.2
ipdb~=0.13.13
mypy==1.5.1  # patch updates have historically introduced breaking changes
pip-tools~=7.3
pre-commit~=3.4
pre-commit-hooks~=4.5
pytest~=7.4
pytest-csv~=3.0
pytest-dotenv~=0.5.2
pytest-logbook~=1.2
pytest-xdist~=3.3
pytz~=2023.3
tox~=4.11
types-pytz~=2023.3
types-requests~=2.31
twine~=4.0
wheel~=0.41

# Adapter specific dependencies
mock~=5.1
thrift_sasl~=0.4.3
