# install latest changes in dbt-core
# TODO: how to automate switching from develop to version branches?
git+https://github.com/dbt-labs/dbt-core.git#egg=dbt-core&subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git#egg=dbt-tests-adapter&subdirectory=tests/adapter

black
bumpversion
click
flake8
flaky
freezegun
ipdb
mock
mypy
pre-commit
pytest-csv
pytest-dotenv
pytest-xdist
pytest
pytz
tox

# Test requirements
sasl
thrift_sasl
