freezegun==0.3.9
pytest==6.0.2
mock>=1.3.0
flake8>=3.5.0
pytz==2017.2
bumpversion==0.5.3
tox==3.2.0
ipdb
pytest-xdist>=2.1.0,<3
flaky>=3.5.3,<4

# Test requirements
git+https://github.com/fishtown-analytics/dbt-adapter-tests.git@33872d1cc0f936677dae091c3e0b49771c280514
sasl==0.2.1
thrift_sasl==0.4.1
