git+https://github.com/dropbox/PyHive.git@4367cc550252f9e6f85782bee7f8694325a742a6#egg=PyHive;python_version>="3.11"
PyHive[sasl]>=0.6.0,<0.7.0; python_version < "3.11"
requests>=2.28.1

pyodbc~=4.0.30
sqlparams>=3.0.0
thrift>=0.13.0
sqlparse>=0.4.2 # not directly required, pinned by Snyk to avoid a vulnerability

types-PyYAML
types-python-dateutil
