sqlparams>=3.0.0

# odbc extras
pyodbc~=4.0.39

# pyhive extras
pyhive[hive_pure_sasl]~=0.7.0
thrift>=0.11.0,<0.17.0

# session extras
delta-spark>=2.0.0,<4.0.0
pyspark>=3.0.0,<4.0.0

# not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.28.1
sqlparse>=0.4.2
