# Cluster ID
DBT_DATABRICKS_CLUSTER_NAME=
# SQL Endpoint
DBT_DATABRICKS_ENDPOINT=
# Server Hostname value
DBT_DATABRICKS_HOST_NAME=
# personal token
DBT_DATABRICKS_TOKEN=
# file path to local ODBC driver
ODBC_DRIVER=

# users for testing 'grants' functionality
DBT_TEST_USER_1=
DBT_TEST_USER_2=
DBT_TEST_USER_3=
