# databricks credentials
DBT_DATABRICKS_HOST_NAME=<{this value}.cloud.databricks.com>.cloud.databricks.com
DBT_DATABRICKS_TOKEN=<personal token>
DBT_DATABRICKS_CLUSTER_NAME=<sql/protocolv1/o/{not this}/{this value}>
ODBC_DRIVER=</file/path/to/local/ODBC.driver>
DBT_DATABRICKS_ENDPOINT=</sql/1.0/warehouses/{this value}>

# users for testing 'grants' functionality
DBT_TEST_USER_1=
DBT_TEST_USER_2=
DBT_TEST_USER_3=
